@charset "UTF-8";
@media screen and (max-width: 700px){
  #headerWrap {width: 100%;}
  #header{position: fixed;
          width: 100%;
          height: 60px;
          left:0; background:#fff;
          transform: initial; }
  #header .logo {display: flex;
                position: initial; top:0
                justify-content: center;
                align-items: center; height: 60px;}
  #header .logo a {display: block;}
  #header .logo img {width: 140px; height: 45px;}
  #header #main_menu {position: fixed;
                      width: 100%; height: 100%;
                      left: -100%; top: 0;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      transition: .3s;
                      background:#F4EFE6;}
  #header #main_menu .main_txt {}
  #header #main_menu .main_txt a {display: block;}
  #header #main_menu .sub_menu{display: none;}
  #main_menu li {float:none}
  /* toggleMenu */

 .toggleMenu {display: block;}

  /* slider */
  .slider li img{width: 100%;}
  .sliderWrap li.slider1st,
  .sliderWrap li.slider2st {background-repeat: no-repeat;
                            background-position: center;
                            background-size:cover;
                            height: 400px;}
  .sliderWrap .slider_txt h1 {font-size:38px; margin-bottom: 20px;text-shadow: 1px 1px 1px #333;}
  .sliderWrap .slider_txt p {font-size:12px; margin-bottom: 20px; text-shadow: 1px 1px 1px #333;}
  .sliderWrap .slider_txt {position: absolute;
                           left: 50%; top: 50%;
                           transform:translate(-50%, -50%);
                           color:#fff;
                           text-align: center}

  /* content */
  .content{position: relative;
          height: initial;
          margin-bottom: 100px;}
  .content .contList {width: 650px;
                      margin: 0 auto; position: static;  transform: initial;}
  .content .contList>li {width: calc(650px/3); height: 209px;
                          display: flex;
                          justify-content: center;
                          align-items: center;}
  .content .contList>li:nth-child(1){background: #FFC81F; order:1;}
  .content .contList>li:nth-child(2){background: #F4EFE6; order:2;}
  .content .contList>li:nth-child(3){width: 100%; height: 300px;
                                    background-image: url(../images/banner01.png);  background-position: center; background-size: cover; background-repeat: no-repeat;
                                    cursor: pointer; order:7;
                                    margin-bottom: 100px;}
  .content .contList>li:nth-child(4){width: 100%; height: 300px;
                                     background-image: url(../images/banner02.png); background-position: center; background-size: cover; background-repeat: no-repeat;
                                     cursor: pointer; order:8; margin-bottom:100px;}
  .content .contList>li:nth-child(5){background: #F4EFE6; order:4;}
  .content .contList>li:nth-child(6){background: #FFC81F; order:3;}
  .content .contList>li:nth-child(7){background: #F4EFE6; order:6;
                                     margin-bottom: 100px;}
  .content .contList>li:nth-child(8){background: #FFC81F; order:5;}
  .content .contList>li:nth-child(9){width: 100%; height: 300px;
                                    background-image: url(../images/banner03.png);  background-position: center; background-size: cover; background-repeat: no-repeat; cursor: pointer; order:9;
                                    margin-bottom: 0;}
  .content .contList>li img {width: 60px;
                             height: 60px;}
  .content .contList>li p {text-align: center;
                           font-weight: bold; font-size:14px}

  .content .contList .titleTxt {text-align: center;}
  .content .contList .titleTxt h2 {color:#ED1C24}
  .content .contList>li:nth-child(3) .titleTxt {display: block;
                                               position: absolute; top:440px}
  .content .contList>li:nth-child(4) .titleTxt{display: block;
                                               position: absolute; top:840px}
  .content .contList>li:nth-child(9) .titleTxt {display: block;
                                                position: absolute; top:1240px}


  /* container */
  .container {height: initial;
              background: none;
              margin-bottom: 100px;
              padding: 0;}
  .container .section {width: 650px; margin: 0 auto;}
  .container .section>h3, .container .section>p {display: none;}
  .container .section li {width: calc(650px / 2);
                          border: none;
                          height: 325px;
                          border-radius: 5px;
                          padding-top: 60px;
                          cursor: pointer;}
  .container .section li:nth-child(1) {background: #F4F1E6;}
  .container .section li:nth-child(2) {background: #fff;}
  .container .section li:nth-child(3) {background: #fff;}
  .container .section li:nth-child(4) {background: #F4F1E6;}
  .container .section li + li {margin-left: 0;}
  .container .section .card .img1 {display: none;}
  .container .section .card .img2 {display: block;
                                   width: 80px;height: 80px;}
  .container .section .card_body {text-align: center;
                                 padding: 10px 20px;
                                 color:#333}

/* section2 */
.section2 {display: none;}

/* section3 */
.section3 ul { width: 650px;margin: 0 auto;}
.section3 ul>li {float:none;
                width: 650px; height: 280px;
                padding: 40px;}


/* footer */
.footerWrap {width: 100%;
             margin: 0 auto;
             position: relative;}
.footerWrap .footerLogo {float: none; display: flex;
                        justify-content: center;
                        align-items: center; margin:5px 0;}
.footerWrap .footerLogo img {width: 140px; height: 45px;
                             position: initial;}

.footerWrap  .footerTxt {padding: 5px 0;}
.footerWrap  .footerTxt .txt01 {display: none;}
.footerWrap  .footerTxt .txt02 p {display: none;}




/* company */
.sub_nav {width: 700px; margin: 0 auto;
          background: #F4EFE6;
          position: absolute;
          left: 50%; transform: translateX(-50%);
          bottom:0;
          border-bottom: 2px solid #FFC81F;}
.sub_nav li {width: calc(700px/3);}
.sub_section{width: 100%;}
.sub_section img {width: 100%;}

.boxWrap {width: 100%; margin: 0 auto;}
.boxWrap h3 {text-align: center; margin-bottom: 20px;}
.boxWrap h3:before {content:"";
                      display: block;
                      width: 50px; height: 2px;
                      background: #ffc81f;
                      margin: 20px auto;}
.boxWrap img {width: 100%; display: block;
              margin-bottom: 20px;}


/* brand */
.brand_nav {width: 700px;
          background: #F4EFE6;
          position: absolute;
          left: 50%; transform: translateX(-50%);
          bottom:0;
          border-bottom: 2px solid #FFC81F;}
.brand_nav li {float: left;
            width: calc(700px/2);
            line-height: 50px;
            border-right: 1px solid #ddd;
            display: block;
            text-align: center;
            font-weight: bold;
            cursor: pointer;}
