@charset "UTF-8";

@media screen and (max-width: 700px){
  #headerWrap {width: 100%;}
  #header{position: fixed;
          width: 100%;
          height: 45px;}
  #header .logo {display: flex;
                justify-content: center;
                align-items: center;}
  #header .logo a {display: block;}
  #header .logo img {width: 140px; height: 45px;}
  #header #main_menu {position: fixed;
                      width: 100%; height: 100%;
                      left: -100%; top: 0;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      transition: .3s}


  /* toggleMenu */
  #header .toggleMenu {width: 45px; height: 45px;
                      float:right;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      cursor: pointer;
                      top:-50px}
  #header .toggleMenu div {background: #ED1C24;}


  /* slider */
  .slider li img{width: 100%;}
  .sliderWrap li.slider1st,
  .sliderWrap li.slider2st {background-repeat: no-repeat;
                            background-position: center;
                            background-size:cover;
                            height: 700px;}
  .sliderWrap .slider_txt h1 {font-size:32px; margin-bottom: 20px;}
  .sliderWrap .slider_txt p {font-size:10px; margin-bottom: 20px;}
  .sliderWrap .slider_txt {position: absolute;
                           left: 50%; top: 30%;
                           transform:translate(-50%, -30%);
                           color:#fff;
                           text-align: center}

  /* content */
  .content{}
  .content .contList {width: 100%;
                      margin: 0 auto;
                      position: relative;}
  .content .contList>li {width: calc(100%/3); height: 200px;
                          display: flex;
                          justify-content: center;
                          align-items: center;}
  .content .contList>li:nth-child(1){background: #FFC81F; order:1;}
  .content .contList>li:nth-child(2){background: #F4EFE6; order:2;}
  .content .contList>li:nth-child(3){width: 100%; height: 300px;
                                    background-image: url(../images/banner01.png);
                                    cursor: pointer; order:7;
                                    margin-bottom: 80px;}
  .content .contList>li:nth-child(4){width: 100%; height: 300px;
                                     background-image: url(../images/banner02.png);
                                     cursor: pointer; order:8; margin-bottom: 80px;}
  .content .contList>li:nth-child(5){background: #F4EFE6; order:4;}
  .content .contList>li:nth-child(6){background: #FFC81F; order:3;}
  .content .contList>li:nth-child(7){background: #F4EFE6; order:6;
                                     margin-bottom: 80px;}
  .content .contList>li:nth-child(8){background: #FFC81F; order:5;}
  .content .contList>li:nth-child(9){width: 100%; height: 300px;
                                    background-image: url(../images/banner03.png);
                                    cursor: pointer; order:9;
                                    margin-bottom: 60px;}
  .content .contList>li img {width: 60px;
                             height: 60px;}
  .content .contList>li p {text-align: center;
                           font-weight: bold; font-size:14px}

  .content .contList .titleTxt {text-align: center;}
  .content .contList .titleTxt h2 {color:#ED1C24}
  .content .contList>li:nth-child(3) .titleTxt {display: block;
                                               position: absolute; top:410px}
  .content .contList>li:nth-child(4) .titleTxt{display: block;
                                               position: absolute; top:790px}
  .content .contList>li:nth-child(9) .titleTxt {display: block;
                                                position: absolute; top:1170px}


  /* container */
  .container {height: 600px;
             background: #aaa url(../images/vmain.jpg) no-repeat center fixed;
             background-size: cover; color:#fff; padding:80px 0;}
  .container .section {width: 100%;  margin: 0 auto;}
  .container .section>h3, .container .section>p {display: none;}
  .container .section li {width: calc(100% / 2);
                          border: none;
                          height: 300px;
                          border-radius: 5px;
                          padding-top: 30px;
                          cursor: pointer;}
  .container .section li:nth-child(1) {background: #F4F1E6;}
  .container .section li:nth-child(2) {background: #fff;}
  .container .section li:nth-child(3) {background: #fff;}
  .container .section li:nth-child(4) {background: #F4F1E6;}
  .container .section li + li {margin-left: 0;}
  .container .section .card .img1 {display: none;}
  .container .section .card .img2 {display: block;}
  .container .section .card_body {text-align: center;
                                 padding: 20px 40px;
                                 color:#333}

    }
