@charset "UTF-8";
/* header */
header{position: relative;}
#headerWrap {}
#header{width: 1240px;
        z-index: 9999;
        position: fixed;
        left: 50%; top: 20px;
        transform: translateX(-50%);
        background: #fff;}
#header .logo {position: absolute; top:5px}
#header .logo a {float: left;
                display: block;}
#header .logo img {width: 140px;
                   height: 45px;}
#main_menu {float:right;}
#main_menu li {float:left;
              width:calc(900px / 5);}
#main_menu .main_txt>a{display: block;
                      line-height: 60px;
                      font-weight: bold;
                      color:#333;
                      font-size:18px;
                      text-align: center;}
#main_menu:hover .sub_menu {display:block;}
#main_menu li:hover a {color:#333; _background: #fff;}
#main_menu .sub_menu {display: none;}
#main_menu .sub_menu a{display: block; line-height: 50px;
                      font-weight: bold; font-size:14px;
                      text-align: center;}
#main_menu .sub_menu li:hover a {color:#f00}

/* toggleMenu */
.toggleMenu {width: 45px; height: 60px;
              _background: gray; right: 0;top: 0;
              position: absolute;
              display: none; z-index: 999}
.toggleMenu div{width: 30px; height: 3px;
                background: #f00; border-radius: 3px;
                position: absolute; transition:0.3s;
                top:50%; left:50%;
                transform:translate(-50%,-50%)}
.toggleMenu .bar1{transform: translateY(10px) translateX(-50%);}
.toggleMenu .bar3{transform: translateY(-10px) translateX(-50%);}

.toggleMenu.change .bar1{left:50%; top:50%;
                         transform:translate(-50%,-50%) rotate(-45deg)}
.toggleMenu.change .bar2{opacity:0}
.toggleMenu.change .bar3{left:50%; top:50%;
                         transform:translate(-50%,-50%) rotate(45deg)}


/* slider */
.sliderWrap .bx-wrapper {-moz-box-shadow: none;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        border: none;
                        margin-bottom: 0;}
.slider li img{width: 100%;}
.sliderWrap li.slider1st,
.sliderWrap li.slider2st {background-repeat: no-repeat;
                          background-position: center;
                          background-size:cover;
                          height: 1000px;}
.sliderWrap li.slider1st {background-image: url(../images/main01.jpg);}
.sliderWrap li.slider2st {background-image: url(../images/main02.jpg);}
.sliderWrap .slider_txt h1 {font-size:50px; margin-bottom: 20px; text-shadow: 1px 1px 1px #333;}
.sliderWrap .slider_txt {position: absolute;
                          left: 50%; top: 40%;
                          transform:translate(-50%, -50%);
                          color:#fff;
                          text-align: center; text-shadow: 1px 1px 1px #333;}

/* content */
.content {position: relative;
          height: 620px; margin-bottom: 60px;}
.content .contList {width: 1240px;
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    top:-310px;left:50%;
                    transform:translateX(-50%)}
.content .contList>li {width: 25%; height: 310px;
                      display: flex;
                      justify-content: center;
                      align-items: center;}
.content .contList>li:nth-child(1){background: #FFC81F; order:1;}
.content .contList>li:nth-child(2){background: #F4EFE6; order:2;}
.content .contList>li:nth-child(3){width: 50%;
                                  background-image: url(../images/banner01.png);
                                  cursor: pointer; order:3;}
.content .contList>li:nth-child(4){width: 50%;
                                  background-image: url(../images/banner02.png);
                                  cursor: pointer; order:4;}
.content .contList>li:nth-child(5){background: #F4EFE6; order:5;}
.content .contList>li:nth-child(6){background: #FFC81F; order:6;}
.content .contList>li:nth-child(7){background: #F4EFE6; order:7;}
.content .contList>li:nth-child(8){background: #FFC81F; order:8;}
.content .contList>li:nth-child(9){width: 50%;
                                  background-image: url(../images/banner03.png);
                                  cursor: pointer; order:9;}
.content .contList>li img {width: 100px;
                           height: 100px;
                           margin-bottom: 10px;}
.content .contList>li p {text-align: center; font-weight: bold}
.content .contList>li:nth-child(1) p {color:#F4EFE6}
.content .contList>li:nth-child(2) p {color:#C53834}
.content .contList>li:nth-child(5) p {color:#C53834;}
.content .contList>li:nth-child(6) p {color:#F4EFE6}
.content .contList>li:nth-child(7) p {color:#C53834}
.content .contList>li:nth-child(8) p {color:#F4EFE6}
.content .contList .titleTxt {display: none;}

/* container */
.container {height: 750px;
           background: #aaa url(../images/vmain.jpg) no-repeat center fixed;
           margin-bottom: 60px;
           background-size: cover; color:#fff; padding:80px 0;}
.container .section {width: 1240px; margin: 0 auto;}
.container .section>h3 {text-align: center;}
.container .section>h3:after {content:"";
                              display: block;
                              width: 50px; height: 2px;
                              background: #fff;
                              margin: 20px auto;}
.container .section>p {text-align: center;
                       font-size: 2rem; margin-bottom: 80px;}
.container .section li {float: left;
                        width: calc((100% - 60px) / 4);
                        border: 4px solid #FFC81F;
                        height: 380px; padding-top: 70px;
                        border-radius: 10px;
                        transition:.3s; cursor: pointer;}
.container .section li:hover{box-shadow:5px 5px 8px rgba(0,0,0,0.5);
                             background: #FFC81F;
                             transform:translate(-10px, -10px)}
.container .section li + li {margin-left: 20px;}
/* 두번째 있는 li 태그부터 적용 */
.container .section li img {display: block;
                            margin: 0 auto;}
.container .section .card_body {text-align: center; padding: 20px 40px;}
.container .section .card_body h3 {margin-bottom: 10px;}
.container .section .card .img2 {display: none;}

/* section2 */
.section2 { margin-bottom: 60px;}
.section2 .snsList {width: 1240px;
                     margin: 0 auto;
                     display: flex;
                     flex-wrap: wrap;
                     position: relative;}
.section2 .snsList img {display: block;}
.section2 .snsList li:nth-child(1) img {padding: 20px}
.section2 .snsList .mainTxt  {color:#fff}
.section2 .snsList .mainTxt h1,
.section2 .snsList .mainTxt p {text-align: center}
.section2 .snsList>li {width: 25%; height: 310px;
                        display: flex;
                        justify-content: center;
                        align-items: center;}
.section2 .snsList>li:nth-child(1) {height: 620px; background: #2E4D8E; order:1}
.section2 .snsList>li:nth-child(2) {order:2}
.section2 .snsList>li:nth-child(3) {background: #fff; order:3}
.section2 .snsList>li:nth-child(4) {order:4}
.section2 .snsList>li:nth-child(5) {position: absolute; width: 310px;
                                    top:310px; left:310px; background: #F4EFE6; order:5}
.section2 .snsList>li:nth-child(6) {position: absolute;width: 310px; top:310px; left:620px; order:6}
.section2 .snsList>li:nth-child(7) {position: absolute;width: 310px; top:310px; left:930px; background:#F4EFE6; order:7 }

.section2 .snsList .boxTop:after {content: "";
                                  border-width: 20px;
                                  border-style: solid;
                                  border-color: transparent transparent #F4EFE6 transparent;
                                  position: absolute;
                                  top: -40px;
                                  left: 50%;
                                  transform: translateX(-50%);}
.section2 .snsList .boxBottom:after {content: "";
                                    border-width: 20px;
                                    border-style: solid;
                                    border-color: #F4EFE6 transparent transparent transparent ;
                                    position: absolute;
                                    top:310px; z-index: 99}

.section2 .snsList .snsTxt {line-height: 25px; color:#333}
.section2 .snsList .snsTxt .hash {color: #2E4D8E; font-weight: bold;
                                  margin-bottom: 10px;}
.section2 .snsList .snsTxt img {margin-top: 10px;}


/* section3 */
.section3 {margin-bottom: 60px;}
.section3 .box1{background: #F4EFE6;}
.section3 .box2{background: #FFC81F;}
.section3 ul {width: 1240px;
               margin: 0 auto;}
.section3 ul>li {float:left;
                 width: 50%; height: 310px;
                 padding: 50px;}
.section3 .box1>h3 {color:#C53834;
                    font-size:2rem;}
.section3 .box1>p {color:#C53834;
                    font-size:1.2rem;}
.section3 .box2>h3 {color:#fff;
                    font-size:2rem;}
.section3 .box2>p {color:#fff;
                    font-size:1.2rem;}

.section3 .box1 img,.section3 .box2 img {display: block;
                                         float: right;}
.section3 .box1 .boxBtn {width: 170px;
                         border: 1px solid #C53834;}
.section3 .box2 .boxBtn {width: 170px;
                         border: 1px solid #fff;}
.section3 .box1 .boxBtn a{display: block;
                          text-align: center;
                          line-height: 40px;
                          color:#C53834;
                          font-weight: bold;}
.section3 .box2 .boxBtn a{display: block;
                          text-align: center;
                          line-height: 40px;
                          color:#fff;
                          font-weight: bold;}


/* footer */
.footerWrap {width: 1240px;
             margin: 0 auto;
             position: relative;}

.footerWrap .footerLogo {float:left; }
.footerWrap .footerLogo img {width: 140px; height: 45px;
                             position: absolute; top:30px}
.footerWrap .footerTxt {float:left;
                        position: absolute;
                        left: 200px;
                        padding: 10px 0;}
.footerWrap .txt01 li{float:left;}
.footerWrap .txt01 li a {display: block;
                         line-height: 20px;
                         padding-right: 20px;
                         color:#333;}
.footerWrap .txt02 {color:#BEB5AA}



/* company */
header {background-image: url(../images/submain.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;}
.sub {width: 100%; height: 460px; position: relative;}
.sub img {display: block;}
.sub .sub_Txt {text-align: center; position: absolute;
              left: 50%; top: 50%;
              transform:translate(-50%, -50%); color: white;
              text-shadow: 1px 1px 1px #333}
.sub .sub_Txt h2 {margin-bottom: 10px;}
.sub_nav {width: 1240px;
          background: #F4EFE6;
          position: absolute;
          left: 50%; transform: translateX(-50%);
          bottom:0;
          border-bottom: 2px solid #FFC81F;}
.sub_nav li {float: left;
            width: calc(1240px/3);
            line-height: 50px;
            border-right: 1px solid #ddd;
            display: block;
            text-align: center;
            font-weight: bold;
            cursor: pointer;}
.sub_nav li a {display: block; color:#333}
.sub_nav li:nth-child(3){border-right: 0;}
.sub_nav li.active {background: #ffc81f;}


/*company sub_category */
.sub_category { width: 1240px;
                height: 50px;
                margin: 0 auto;
                margin-top: 15px;}
.sub_category li {float: left; margin-right: 8px;}
.sub_category li a {font-size: 14px;
                    display: block;
                    font-weight: bold;
                    text-align: center;
                    color: #333;}
.sub_category li:nth-child(5) a {color: #ffc81f;}


.boxWrap {width: 1240px; margin: 0 auto;}
.boxWrap h3 {text-align: center; margin-bottom: 20px;}
.boxWrap h3:before {content:"";
                      display: block;
                      width: 50px; height: 2px;
                      background: #ffc81f;
                      margin: 20px auto;}
.boxWrap img {display: block;
              margin-bottom: 20px;}


/* brand */
header.brand {background-image: url(../images/brandmain.png);
              background-repeat: no-repeat;
              background-size: cover;
              width: 100%;}
.brand_nav {width: 1240px;
          background: #F4EFE6;
          position: absolute;
          left: 50%; transform: translateX(-50%);
          bottom:0;
          border-bottom: 2px solid #FFC81F;}
.brand_nav li {float: left;
            width: calc(1240px/2);
            line-height: 50px;
            border-right: 1px solid #ddd;
            display: block;
            text-align: center;
            font-weight: bold;
            cursor: pointer;}
.brand_nav li a {display: block; color:#333}
.brand_nav li:nth-child(3){border-right: 0;}
.brand_nav li.active {background: #ffc81f;}


/* promotion */
header.promotion {background-image: url(../images/promotion.png);
                  background-repeat: no-repeat;
                  background-size: cover;
                  width: 100%;}

/* society */
header.society {background-image: url(../images/societymain.png);
                  background-repeat: no-repeat;
                  background-size: cover;
                  width: 100%;}

/* cs */
header.cs {background-image: url(../images/csmain.png);
                  background-repeat: no-repeat;
                  background-size: cover;
                  width: 100%;}
/* margin */
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb60 {margin-bottom: 60px;}
