@charset "UTF-8";

:root {
        --bg-color-1st:#F6F5EF;
        --bg-color-2st:#1E3932;
        --bg-color-3st:#F6F6F6;
        --bg-color-4st:#3A383A;

        --box-color-1st:#00704A;
        --box-color-2st:#025964;
        --box-color-3st:#815932;
        --box-color-4st:#1E3932;

        --font-color-1st:#81899B;
        --font-color-2st:#333333;
        --font-color-3st:#2C2A29;
}

/* header */
.headerWrap {background: var(--bg-color-1st);}
.headerWrap .navbar {background: var(--bg-color-1st);}
.headerWrap .navbar-brand img {width: 70px; height: 70px;}
.collapse .navbar-nav .nav-item a {color:var(--font-color-3st)}
.collapse .navbar-nav .nav-item a:hover {color:var(--box-color-1st);}


/* section */
.section{background-position: center;
         background-repeat: no-repeat;
         background-size: cover;}
.section.page1 {background-image: url(../images/home_bg.png);}
.section.page2 {background-image: url(../images/reward-bg.png);}
.section.page3 {background-image: url(../images/coffee-bg.png);}
.section.page4 {background-image: url(../images/reserve-bg.png);}
.section.page5 {background-image: url(../images/beans_bg.png);}


#fp-nav.right{right: 50px; display: none;}
.fp-tooltip.right{right:20px;}
#fp-nav ul li a span, .fp-slidesNav ul li a span {display: none;}

/* home .section.page1 */
.section.page1 .container{position: relative;}
.section.page1 .home {position: absolute;
                      top:-200px;}
.section.page1 .btn {background:var(--bg-color-4st);
                    color:var(--bg-color-3st);
                    font-weight: bold;
                    border-radius: 25px;}
.section.page1 .menu .menu_1st {position: absolute; top:-200px; right: 280px;
                                opacity:0; transition: .7s; transform: translateY(-100px);}
.section.page1 .menu .menu_1st.end {opacity:1; transform:translateY(10px);}

.section.page1 .menu .menu_2st {position: absolute; top:-220px; right: 90px;
                                opacity:0; transition: .7s; transform: translateY(-100px);
                                transition-delay: 0.3s}
.section.page1 .menu .menu_2st.end {opacity:1; transform:translateY(10px);}

.section.page1 .menu .menu_3st {position: absolute; top:-100px; right: -150px;
                                opacity:0; transition: .7s; transform: translateY(-100px);
                                transition-delay: 0.6s}
.section.page1 .menu .menu_3st.end {opacity:1; transform:translateY(10px);}


/* reward .section.page2 */
.section.page2 .btn.bg-scolor{background: var(--box-color-1st);
                             color:var(--bg-color-1st)}
.section.page2 .reward_txt h4 {color:var(--bg-color-1st)}
.section.page2 .reward_txt .btn {font-weight: bold;
                                border-radius: 25px;}
.section.page2 .reward_txt .line {position: relative;
                                 margin-bottom: 22px;
                                 border-bottom: 1px solid #4b615b}

/* coffee .section.page3 */
.section.page3 .container {position: relative;}
.section.page3 .coffee_txt .btn.bg-bcolor {background: var(--box-color-2st);
                                          color:var(--bg-color-1st);
                                          border-radius: 25px}
.section.page3 .coffee_txt {position: absolute; top:-40px; left: 0;
                            opacity:0; transition:.7s; transform:translateX(-300px);}
.section.page3 .coffee_txt.end {opacity:1; transition:.7s; transform: translateX(30px);}
.section.page3 .coffee {position: absolute; right: 0; top:-270px;
                        opacity:0; transition:.7s; transform:translateX(300px);}
.section.page3 .coffee.end {opacity:1; transition:.7s; transform: translateX(30px);}


/* coffee .section.page4 */
.section.page4 .reserve {position: absolute; top:250px}
.section.page4 .reserve_txt a{background: var(--bg-color-1st);
                              color:#333; text-decoration: none;
                              font-size:1.3rem;}
.section.page4 .reserve_txt a:hover{background: var(--box-color-3st);
                                    color:var(--bg-color-1st)}



/* news .section.page5 */
.section.page5 {position: relative;}
.section.page5 .beans {position: absolute; top:45%;
                       opacity:0; transition:.7s; transform:translateX(-300px);}
.section.page5 .beans.end {opacity:1; transition:.7s; transform: translateX(30px);}
.section.page5 .beans .btn.bg-ncolor {background: var(--box-color-3st);
                                     color:var(--bg-color-1st);
                                     border-radius: 25px}
.section.page5 .beans_img {position: absolute; right: 340px; top:35%;
                           opacity:0; transition:.7s; transform:translateX(300px);}
.section.page5 .beans_img.end{opacity:1; transition:.7s; transform: translateX(30px);}
.section.page5 .beans_img img {width: 180px;}


/* footer */



/* width 1000px */
@media screen and (max-width:1000px){
.section.page1 .home{position: relative; top:-100px;}
}
<a href="#" class="px-3 py-3">EXPLORE OUR STORY</a>
