@charset "utf-8";

.wrap {width: 100%;
      background: #0765A3;
      margin: 0 auto;}
.headerWrap {width: 1200px;
            height: 90px;
            margin: 0 auto;
            background:url(../images/header.jpg)no-repeat;}
.header {width: 980px;
        margin: 0 auto;}

/* header */
.header .logo {float:left;
               padding-top: 30px;}
.header .logoTxt {float:left;
                  padding-left: 10px;
                  padding-top: 15px;}
.header .logoTxt  h2{color:white;
                    text-align: center;
                    padding-top: 5px;}
.header .logoTxt  p{color:white;
                    font-size:12px;
                    letter-spacing: 3px;
                    text-align: center;}

.header .search {display: block;
                border: 1px solid white;
                width: 293px;
                line-height: 30px;
                border-radius: 20px;
                background: white;
                float: left;
                margin-left: 100px;
                margin-top: 30px;}
.header .search label {font-size:14px;
               font-weight: bold;
               padding-left: 15px;}
.header .search input {width: 170px;
               border:0 none;
               padding-left: 10px;}
.header .search img {padding-left: 5px;}

.header .snsWrap {float:right;
                  padding-top: 32px;}
.header .number {float:right;
                 color:white;
                 font-size:30px;
                 font-weight:bold;
                 padding-top: 22px;
                 padding-right: 20px;}

/* gnb */
.gnbWrap {width: 100%;
          background: #f8f8f8;
          border-bottom: 5px solid #0765A3;}
.gnbWrap .gnbmenu {width: 1200px;
                   margin: 0 auto;}
.gnbWrap .gnbmenu li {float:left;
                      width:calc(1200px / 6);
                      border-left: 1px solid #e8e8e8;}
.gnbWrap .gnbmenu li:last-child {border-right:1px solid #e8e8e8; }
.gnbWrap .gnbmenu li a {line-height: 60px;
                        display: block;
                        text-align: center;
                        font-weight: bold;}

/* contents */
.container {width: 100%;
            height: 1000px;
            background: url(../images/mainbg.png)no-repeat;}
.container .contents {width: 980px; margin: 0 auto;}
.container .contents .mainTxt {float: right;}
.container .contents .mainTxt h1 {font-size: 72px;}
.container .contents .mainTxt h1:after{content:"";
                                      display: block;
                                      width: 100px;
                                      height: 5px;
                                      background: #18252e;
                                      margin-left:290px;
                                      margin-top: -5px;
                                      margin-bottom: 10px;}
.container .contents .mainTxt p {font-size: 30px;}
.container .contents .mainTxt h1,
.container .contents .mainTxt p {color:#18252e}
